<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd

In [2]:
!wget  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-12-04 00:32:51--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [         <=>        ]  21.69M   430KB/s    in 54s

2019-12-04 00:33:46 (415 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22744357]

In [3]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [4]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [5]:
pd.set_option('display.max_rows', 200)
df.isnull().sum().sort_values()

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
next_pymnt_d                                   23978
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_earliest_cr_line                      111630
revol_bal_joint                               111630
sec_app_open_act_il                           111630
annual_inc_joint                              111630
dti_joint                                     111630
sec_app_collections_12_mths_ex_med            111630
sec_app_chargeoff_within_12_mths              111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
debt_settlement_flag_date                     128076
settlement_date                               128076
settlement_amount                             128076
settlement_status                             128076
settlement_term                               128076
settlement_percentage                         128076
hardship_status                               128232
deferral_term                                 128232
hardship_amount                               128232
hardship_start_date                           128232
hardship_end_date                             128232
payment_plan_start_date                       128232
hardship_length                               128232
hardship_dpd                                  128232
hardship_loan_status                          128232
hardship_reason                               128232
hardship_payoff_balance_amount                128232
hardship_last_payment_amount                  128232
hardship_type                                 128232
orig_projected_additional_accrued_interest    128249
url                                           128412
member_id                                     128412
desc                                          128412
id                                            128412
dtype: int64

In [0]:
df = df.drop(['hardship_type', 'hardship_reason', 'hardship_status',
              'deferral_term', 'hardship_amount',	'hardship_start_date',	'hardship_end_date',	
              'payment_plan_start_date',	'hardship_length',	'hardship_dpd'], axis=1)

In [7]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 134 columns]

In [8]:
df.dtypes[:5]

id                 float64
member_id          float64
loan_amnt            int64
funded_amnt          int64
funded_amnt_inv    float64
dtype: object

In [0]:
term = '36 months'

In [10]:
term.strip().strip('months')

'36 '

In [11]:
type(term.strip().strip('months'))

str

In [12]:
int(term.strip().strip('months'))

36

In [13]:
type(int(term.strip().strip('months')))

int

In [0]:
def term_to_int(cell_contents):
  return int(cell_contents.strip().strip('months'))

In [15]:
term_to_int(term)

36

In [16]:
type(term_to_int(term))

int

In [0]:
new_list = []
for cell in df['term']:
  new_list.append(term_to_int(cell))

df['term_cleaned'] = pd.Series(new_list)

In [18]:
df.head()

   id  member_id  ...  settlement_term  term_cleaned
0 NaN        NaN  ...              NaN            36
1 NaN        NaN  ...              NaN            60
2 NaN        NaN  ...              NaN            60
3 NaN        NaN  ...              NaN            36
4 NaN        NaN  ...              NaN            60

[5 rows x 135 columns]

In [19]:
df.dtypes[-5:]

settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
term_cleaned               int64
dtype: object

In [20]:
# now that I have a new Term column at the end
#I'm just dropping the existing Term column to clean it up
df.drop(['term'], axis=1)

        id  member_id  ...  settlement_term  term_cleaned
0      NaN        NaN  ...              NaN            36
1      NaN        NaN  ...              NaN            60
2      NaN        NaN  ...              NaN            60
3      NaN        NaN  ...              NaN            36
4      NaN        NaN  ...              NaN            60
...     ..        ...  ...              ...           ...
128407 NaN        NaN  ...              NaN            36
128408 NaN        NaN  ...              NaN            36
128409 NaN        NaN  ...              NaN            36
128410 NaN        NaN  ...              NaN            36
128411 NaN        NaN  ...              NaN            36

[128412 rows x 134 columns]

In [0]:
def loan_great(loan_status):
  if loan_status == 'Current' or loan_status == 'Fully Paid':
    return 1
  else:
    return 0

In [22]:
df['loan_status_is_great'] = df['loan_status'].apply(loan_great)
df.describe()

        id  member_id  ...   term_cleaned  loan_status_is_great
count  0.0        0.0  ...  128412.000000         128412.000000
mean   NaN        NaN  ...      43.519484              0.935395
std    NaN        NaN  ...      11.132203              0.245828
min    NaN        NaN  ...      36.000000              0.000000
25%    NaN        NaN  ...      36.000000              1.000000
50%    NaN        NaN  ...      36.000000              1.000000
75%    NaN        NaN  ...      60.000000              1.000000
max    NaN        NaN  ...      60.000000              1.000000

[8 rows x 106 columns]

In [26]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [29]:
df['last_pymnt_d']

0         Nov-2019
1         Apr-2019
2         Oct-2019
3         Oct-2019
4         Apr-2019
            ...
128407    Dec-2018
128408    Nov-2019
128409    Nov-2019
128410    Nov-2019
128411    Nov-2019
Name: last_pymnt_d, Length: 128412, dtype: object

In [41]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

df.dtypes[:50]

id                                   float64
member_id                            float64
loan_amnt                              int64
funded_amnt                            int64
funded_amnt_inv                      float64
term                                  object
int_rate                              object
installment                          float64
grade                                 object
sub_grade                             object
emp_title                             object
emp_length                            object
home_ownership                        object
annual_inc                           float64
verification_status                   object
issue_d                               object
loan_status                           object
pymnt_plan                            object
url                                  float64
desc                                 float64
purpose                               object
title                                 object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                            int64
earliest_cr_line                      object
inq_last_6mths                         int64
mths_since_last_delinq               float64
mths_since_last_record               float64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
revol_util                            object
total_acc                              int64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
next_pymnt_d                          object
last_credit_pull_d                    object
collections_12_mths_ex_med             int64
dtype: object

In [42]:
df['last_pymnt_d'].head().values

array(['2019-11-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [43]:
df['last_pymnt_d'].dt.year

0         2019.0
1         2019.0
2         2019.0
3         2019.0
4         2019.0
           ...
128407    2018.0
128408    2019.0
128409    2019.0
128410    2019.0
128411    2019.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [44]:
df['last_pymnt_d'].dt.month

0         11.0
1          4.0
2         10.0
3         10.0
4          4.0
          ...
128407    12.0
128408    11.0
128409    11.0
128410    11.0
128411    11.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [45]:
df['last_pymnt_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_month'] = df['last_pymnt_d'].dt.month

df.head()

   id  member_id  loan_amnt  ...  last_pymt_d  last_pymnt_year last_pymnt_month
0 NaN        NaN      20000  ...   2019-11-01           2019.0             11.0
1 NaN        NaN      25000  ...   2019-04-01           2019.0              4.0
2 NaN        NaN      26500  ...   2019-10-01           2019.0             10.0
3 NaN        NaN      10400  ...   2019-10-01           2019.0             10.0
4 NaN        NaN      35000  ...   2019-04-01           2019.0              4.0

[5 rows x 139 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01